.modalwin {

    height: 50vw;
    width: 50vw;
    border: 3px outset gray;
    /* background: yellow; */
    background-image: url(depositphotos_12284741-stock-photo-old-wood.jpg);
    top: 20%;
    /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index: 2;
    /* поверх всех */
    display: none;
    /* сначала невидим */
    position: fixed;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid #383838;
}

.modalwin h1 {
    margin-left: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}

#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* поверх всех  кроме окна*/
    background: #000;
    opacity: 0.5;
    /*прозрачность*/
    left: 0;
    top: 0;
}


#feedbackcontent {
    display: flex;
    flex-direction: column;
}

#feedback {
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    box-shadow: 2px 2px 2px brown;
}

#btnFeedback {
    margin-left: 30px;
    height: 30px;
    width: 100px;
}

input {
    border: 1px solid #753939;
    box-shadow: 2px 2px 2px #753939;

}

textarea {
    width: 80%;
    margin-top: 5px;
    margin-left: 30px;
    resize: vertical;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #753939;
    box-shadow: 2px 2px 2px #753939;
    height: 200px;
    resize: none;
}

button {
    margin-top: 10px;
    margin-left: 30px;
    width: 8vw;
    height: 3vw;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #753939;
    box-shadow: 2px 2px 2px #753939;
}

@media screen and (max-width: 600px) {
    .modalwin {

        height: 120vw;
        width: 80vw;
        border: 3px outset gray;
        background-image: url('depositphotos_12284741-stock-photo-old-wood.jpg');
        top: 10%;
        /* отступ сверху */
        right: 0;
        left: 0;
        font-size: 14px;
        margin: 0 auto;
        z-index: 2;
        /* поверх всех */
        display: none;
        /* сначала невидим */
        position: fixed;
        /* фиксированное позиционирование, окно стабильно при прокрутке */
        border: 1px solid #383838;
    }

    button {
        margin-top: 5px;
        margin-left: 30px;
        width: 20vw;
        height: 10vw;
        border-radius: 5px;
        border: 1px solid #753939;
        box-shadow: 2px 2px 2px #753939;

    }

    textarea {
        width: 60vw;
        margin-top: 5px;
        margin-left: 30px;
        resize: vertical;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #753939;
        box-shadow: 2px 2px 2px #753939;
        height: 150px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .modalwin {

        height: 120vw;
        width: 80vw;
        border: 3px outset gray;
        background-image: url('depositphotos_12284741-stock-photo-old-wood.jpg');
        top: 10%;
        /* отступ сверху */
        right: 0;
        left: 0;
        font-size: 14px;
        margin: 0 auto;
        z-index: 2;
        /* поверх всех */
        display: none;
        /* сначала невидим */
        position: fixed;
        /* фиксированное позиционирование, окно стабильно при прокрутке */
        border: 1px solid #383838;
    }

    button {
        margin-top: 5px;
        margin-left: 30px;
        width: 20vw;
        height: 10vw;
        border-radius: 5px;
        border: 1px solid #753939;
        box-shadow: 2px 2px 2px #753939;

    }

    textarea {
        width: 60vw;
        margin-top: 5px;
        margin-left: 30px;
        resize: vertical;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #753939;
        box-shadow: 2px 2px 2px #753939;
        height: 150px;
    }

}